<div class="container mat-elevation-z8">
  <div class="loading-shade"
       *ngIf="isLoadingData">
    <mat-spinner></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/caregivers']"><mat-icon>arrow_back</mat-icon></a>
  </div>
  <mat-card class="card" *ngIf="caregiver">
    <mat-card-header>
      <mat-card-title><h2>{{caregiver.name}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div><span>Id: </span>{{caregiver.id}}</div>
        </mat-list-item>
        <mat-list-item>
          <div><span>Birth date: </span>{{caregiver.birthDate}}</div>
        </mat-list-item>
        <mat-list-item>
          <div><span>Gender: </span>{{caregiver.gender}}</div>
        </mat-list-item>
        <mat-list-item>
          <div><span>Address: </span>{{caregiver.address}}</div>
        </mat-list-item>
        <ng-container *ngIf="caregiver.patients && caregiver.patients.length">
          <mat-list-item>
            <div><span>Patients: </span></div>
          </mat-list-item>
          <mat-list style="margin-left:20px;">
            <mat-list-item *ngFor="let patient of caregiver.patients" [routerLink]="['/patient-detail', patient.id]">
              {{patient.name}}
            </mat-list-item>
          </mat-list>
        </ng-container>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/caregiver-edit', caregiver.id]">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-flat-button color="warn" (click)="deleteCurrentCaregiver()"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>