.container {
  position: relative;
  padding: 5px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
    width: 80%;
}

.mat-mdc-row.hovered {
  background: #eee;
}

.mat-mdc-input-element {
   font: inherit;
}

.textareaFormField {
  width: 240px;
  /* TODO: this might not look great on smaller screens
     As screen size decreases, the textarea sort-of forces its size to be sacrificed last.
     A better solution might be to style the table columns to set some minimum widths maybe?

     Honestly, ideal would be a solution that dynamically scales it to fit the column width,
     but currently column widths size themselves based on content length, so that won't work. */
}