<div class="loading-shade"
    *ngIf="!patientActivities">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="patientActivities && patientActivities.length">

    <h3>Activity 24-hour Timeline</h3>
    <div *ngIf="timelineData && timelineData.length">
        <google-chart class = "chart"
            [type] = "'Timeline'"
            [data] = "timelineData"
            [dynamicResize] = "true"
            [options] = "timelineOptions">
        </google-chart>
    </div>
    <div *ngIf="!timelineData.length">
        <h4>No activities recorded in the last 24 hours</h4>
    </div>
    <!-- FIXME: Timeline chart might or might not be broken since Angular version migration -->
    <!-- 24-hour recent data is needed to ensure that this works correctly -->
    <!-- (And maybe some unit tests for this wouldn't hurt either) -->


    <h3>Activity distribution by name</h3>
    <mat-form-field>
        <mat-label>Time period</mat-label>
        <mat-select [(ngModel)]="columnTimeframe" (selectionChange)="updateActivityDistribution($event)">
            <mat-option *ngFor="let option of timeframeOptions" [value]="option.value">
                {{option.title}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="columnData && columnData.length">
        <google-chart class = "chart"
            [type] = "'ColumnChart'"
            [data] = "columnData"
            [dynamicResize] = "true"
            [options] = "columnOptions">
        </google-chart>
        <!-- TODO: Angular Google Chart Advanced (in the Readme) -> Get access to the control wrappers, add bars -->
    </div>
    <div *ngIf="!columnData.length">
        <h4>No activities recorded in the selected time period</h4>
    </div>


    <h3>Activity breakdown</h3>
    <mat-form-field>
        <mat-label>Time period</mat-label>
        <mat-select [(ngModel)]="pieTimeframe" (selectionChange)="updateActivityBreakdown($event)">
            <mat-option *ngFor="let option of timeframeOptions" [value]="option.value">
                {{option.title}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="pieEntriesTotal">
        <google-chart class = "chart"
            [type] = "'PieChart'"
            [data] = "pieData"
            [dynamicResize] = "true"
            [options] = "pieOptions">
        </google-chart>
    </div>
    <div *ngIf="!pieEntriesTotal">
        <h4>No activities recorded in the selected time period</h4>
    </div>


    <table mat-table [dataSource]="tablePagedData">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let activity"> {{activity.name}} </td>
        </ng-container>

        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef> Start </th>
            <td mat-cell *matCellDef="let activity"> {{activity.start | date: 'd MMM y, HH:mm'}} </td>
        </ng-container>

        <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef> End </th>
            <td mat-cell *matCellDef="let activity"> {{activity.end | date: 'd MMM y, HH:mm'}} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef> Duration </th>
            <td mat-cell *matCellDef="let activity"> {{formatDuration(computeDuration(activity))}} </td>
        </ng-container>

        <ng-container matColumnDef="abnormal">
            <th mat-header-cell *matHeaderCellDef> Abnormal </th>
            <td mat-cell *matCellDef="let activity"> {{activity.abnormal ? "Yes" : "No"}} </td>
        </ng-container>
    
        <ng-container matColumnDef="justified">
            <th mat-header-cell *matHeaderCellDef> Justified </th>
            <td mat-cell *matCellDef="let activity">
                &nbsp;&nbsp;&nbsp; <!-- Ugly hack to get spacing without CSS; otherwise the highlight looks bad -->
                <mat-slide-toggle
                    hideIcon
                    [(ngModel)]="activity.justified"
                    [disabled]="!activity.abnormal"
                    (change)="updateActivity(activity)">
                </mat-slide-toggle>
            </td>
        </ng-container>

        <ng-container matColumnDef="recommendation">
            <th mat-header-cell *matHeaderCellDef> Recommendation </th>
            <td mat-cell *matCellDef="let activity">
                <mat-form-field
                    class="textareaFormField"
                    subscriptSizing="dynamic"
                    *ngIf="activity.recommendation || activity.justified"
                >
                    <textarea
                        matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        [(ngModel)]="activity.recommendation"
                        (focusout)="updateActivity(activity)"
                        ></textarea>
                    <!-- TODO: Have only the focused textarea grow to 5 rows and others remain at 1 always
                    Solving solution: set maxRows as [editable] and bind it to a value in the .ts
                    Solving challenge: only make this change for that one focused textarea -->
                </mat-form-field>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns"
            [ngClass]="{hovered: row.hovered}"
            (mouseover)="row.hovered = true"
            (mouseout) = "row.hovered = false">
        </tr>
    </table>

    <mat-paginator 
        [length]="patientActivities.length"
        [pageSize]="tableDefaultPageSize"
        [pageSizeOptions]="tablePageSizes"
        (page)="paginateTableData($event)"
        showFirstLastButtons>
    </mat-paginator>

</div>
<div *ngIf="patientActivities && !patientActivities.length">
    <br> We have recorded no activities for this patient yet. <br>
</div>